<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activeandroid">

    <application
        android:allowBackup="false">
        <provider android:name="com.activeandroid.content.ContentProvider" android:exported="false" android:authorities="${applicationId}"/>
    </application>

</manifest>
